<div class="freeze-header">
    <h4>Available Players</h4>
</div>
<%= form_tag("/commissioner/players/add-to-team", method: "post") do %>
    <div class="freeze-dropdown">
        <div class="line-height">
            <%= collection_select :tlfl_team, :id, TlflTeam.order(:city), :id, :full_name, include_blank: 'Select TLFL Team' %>
            <br><br>
        </div>
        <%= submit_tag "Add Player(s) to Team" %>
        <br><br>
        <div class="tlfl-team-available"></div>
        <div class='selected-available'>Adding Players:<br></div>
    </div>
    <div class="player-scroll">
        <ul class="no-bullet">
            <% @players.each do |player| %>
                <li>
                    <label class="line-height">
                        <%= check_box_tag "players[]", player.id, false, onclick: 'selectedPlayers(this)' %>
                        <%= "#{player.position} #{player.last_name}, #{player.first_name} - #{player.nfl_abbrev}" %>
                    </label>
                </li>
            <% end %>
            <% @dsts.each do |dst| %>
                <li>
                    <label>
                        <%= check_box_tag "dst", dst.id %>
                        <%= "DT #{dst.full_name} - #{dst.nfl_abbrev}" %>
                    </label>
                </li>
            <% end %> 
        </ul>
    </div>
<% end %>