<div id="edit-seniority">
    <h3>Edit Players' Seniority</h3>
    <br>
    <% @teams.each do |team| %>
    <strong><%= team.full_name %></strong>
        <%= form_tag("/commissioner/players/update-seniority", method: "patch") do %>
            <% @players.each do |player| %>
                <% if player.nfl_abbrev == team.abbreviation %>
                    <%= fields_for "players[]", player do |pl| %>
                        <%= player.position %>
                        <%= pl.select :seniority, options_for_select([1,2,3,4,5].map{|num| [num, num]}, player.seniority) %>
                        <%= player.full_name %>
                        <br>
                    <% end %>
                <% end %>
            <% end %>
            <%= submit_tag "Save changes for #{team.nickname}" %>
            <br><br>
        <% end %>
    <% end %>
</div>