<h3>Commissioner Tools</h3>
<br>
<div class="commish-tools">
    <div class="commish-tools-lists">
        <h6>New Season</h6>
        <ul>
            <li>Set Keepers</li>
            <li><%= link_to 'Add Players to Teams', commissioner_players_assign_path %></li>
            <li><%= link_to 'Edit Players Seniority', commissioner_players_edit_seniority_path %></li>
            <li><button>Update Team Bye Weeks</button></li>
        </ul>

        <h6>Weekly</h6>
        <ul>
            <li>Newsletter</li>
            <li>Edit Player Scores</li>
        </ul>

        <h6>Transactions</h6>
        <ul>
            <li><%= link_to 'View Trades', commissioner_trades_path %></li>
            <li><%= link_to 'Perform Trade', new_commissioner_trade_path %></li>
            <li><%= link_to 'View Reserves', commissioner_reserves_path %></li>
            <li><%= link_to 'Reserve Player', new_commissioner_reserf_path %></li>
        </ul>

        <h6>Owners</h6>
        <ul>
            <li>New Owner</li>
            <li>View Owners</li>
        </ul>
    </div>

    <div class="commish-tools-buttons">
        <h6 style="padding-bottom: 7px">Player Maintenance</h6>
        <%= button_to 'Update Available Players', commissioner_update_available_players_path, method: :get %>
        <p class="header-note">Note: Takes 30-60 seconds to run</p>
        <p><button>Update Players' NFL Data</button></p>
    </div>
</div>