<div id="reserves-new">
    <script>window.onload = getAllPlayers()</script>
    <h3 style="display: inline-block">Place Player on IR/Reserves</h3>
    <span class="header-left"><%= link_to "View Injured Reserves", commissioner_injured_reserves_path %></span>
    <br><br>
    <%= form_tag("/commissioner/injured_reserves", method: "post") do %>
        <div id="week-effective">
            Week Effective: 
            <select required name="weeks">
                <option disabled selected value="">-- Select Week --</option>
                <% @weeks.each do |week| %>
                    <option value="<%=week%>">Week <%=week%></option>
                <% end %>
            </select>
        </div>
        <br><br>
        <div class="ir-team">
            <%= collection_select :tlfl_team_ir, :id, TlflTeam.order(:city), :id, :full_name, options = { include_blank: '-- Select TLFL Team --' }, html_options = { onchange: "getTlflTeamIr(this)" } %>
            <div id="ir-roster"></div>
        </div>

        <div class="ir-team">
            <br>
            <div id="avail-team-pos"></div>
            <div id="ir-replacement-options"></div>
        </div>

        <div class="ir-team">
            <strong>Placing on IR/Reserves:</strong>
                <div id="ir-reserving-player"></div>
            <br>
            <strong>Replacement Player:</strong>
                <div id="ir-replacement-player"></div>
            <br><br>
            <%= submit_tag "Reserve Player" %>
        </div>
    <% end %>
</div>