<div>
    <%= form_tag("/commissioner/injured_reserves", method: "post") do %>
        <div id="week-effective">
            Week Effective: 
            <select required name="weeks">
                <option disabled selected value="">-- Select Week --</option>
                <% @weeks.each do |week| %>
                    <option value="<%=week%>">Week <%=week%></option>
                <% end %>
            </select>
        </div>
        <span class="header-left"><%= link_to "View Injured Reserves", commissioner_injured_reserves_path %></span>
        <br><br>
        <div class="ir-team">
            <%= collection_select :tlfl_team_ir, :id, TlflTeam.order(:city), :id, :full_name, options = { include_blank: '-- Select TLFL Team --' }, html_options = { onchange: "getTlflTeamIr(this)" } %>
            <div id="ir-roster"></div>
        </div>

        <div class="ir-team">
            <div id="ir-reserving-head"></div>
                <div id="ir-reserving-player"></div>
            <br>
            <div id="ir-replacement-head"></div>
                <div id="ir-replacement-player"></div>
            <br><br>
            <%= submit_tag "Place on IR" %>
        </div>
    <% end %>
</div>