<div id="reserves-replacement-options">
    <h4 style="display: inline-block"><%= "Reserved Player: #{@rs_player.full_name}, #{@rs_player.position}, #{@rs_player.nfl_abbrev}"%></h4>
    <span class="header-left"><%= link_to "View Injured Reserves", commissioner_reserves_path %></span>
    <br><br><p></p>
    <%= form_tag("/commissioner/reserves/activate", method: "post") do %>
        <h5>Activate:</h5>
        <p></p>
        <div class="week-effective">
            Week Effective: 
            <select required name="week">
                <option disabled selected value="">-- Select Week --</option>
                <% @weeks.each do |week| %>
                    <option value="<%=week%>">Week <%=week%></option>
                <% end %>
            </select>
        </div>
        <br>
        <input type="hidden" name="rs_player" value="<%=@rs_player.id%>">
        <input type="hidden" name="replacement" value="<%=@rs_player.ir_id%>">
        <%= submit_tag "Activate #{@rs_player.full_name}", data: { confirm: "Activate #{@rs_player.full_name}?"} %>
    <% end %>
    <br><br><p></p>
    <%= form_tag("/commissioner/reserves/change-replacement", method: "post") do %>
        <h5>Change Replacement:</h5>
        <p></p>
        <div class="week-effective">
            Week Effective: 
            <select required name="week">
                <option disabled selected value="">-- Select Week --</option>
                <% @weeks.each do |week| %>
                    <option value="<%=week%>">Week <%=week%></option>
                <% end %>
            </select>
        </div>
        <br>
            Current replacement: <%= "#{@replacement_player.position} #{@replacement_player.full_name}" %>
        <br><br>
        <div id="select-new-replacement">
            Change Replacement Player to:
            <br>
                <% @new_options.each do |option| %>
                    <label class="line-height">
                        <input type="radio" name="new_replacement" value="<%=option.id%>" required>
                        <%= "#{option.position} #{option.full_name}" %>
                    </label><br>
                <% end %>
                <br>
        </div>
        <input type="hidden" name="rs_player" value="<%=@rs_player.id%>">
        <input type="hidden" name="old_replacement" value="<%=@replacement_player.id%>">
        <%= submit_tag 'Change Replacement' %>
    <% end %>
</div>