<div id="trades-index">
    <h3 style="display: inline-block"><%= "#{@year} Trades" %></h3><span class="header-left"><%= link_to "New Trade", new_commissioner_trade_path %></span>
    <p class="header-note">Note: Deleting trades will remove it from being displayed, but not reverse the transaction.</p>
    <br>
    <% @trades.each do |trade| %>
        <% if trade.week == 0 %>
            <strong>Offseason</strong>
        <% else %>
            <strong><%= "Week #{trade.week}" %></strong>
        <% end %>
        <br>
        <%= trade.display[0] %>
        <br>
        <%= trade.display[1] %>
        <div class="edit-font">
            <%= link_to "Delete Trade", commissioner_trade_path(trade), method: "delete", 
            data: { confirm: "Delete trade between #{trade.team_one_name} and #{trade.team_two_name}?" } %>
        </div>
        <br>
    <% end %>
</div>