<!DOCTYPE html>
<html>
  <head>
    <title>TLFL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
        <%= link_to "Commissioner Tools", commissioner_path %> |
        <%= link_to "Log Out", commissioner_logout_path %>
    </nav>
    <main>
    <% if flash[:alert] %>
      <br>
      <div style="color:red"><em><%= flash[:alert] %></em></div>
    <% end %>
    <% if flash[:notice] %>
      <br>
      <%# <script>alert(flash[:notice])</script> %>
      <div style="color:green"><em><%= flash[:notice] %></em></div>
    <% end %>
    <br>
    <%= yield %>
    </main>
  </body>
</html>
