<!DOCTYPE html>
<html>
  <head>
    <title>TLFL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash[:alert] %>
      <div style="color:red"><strong><%= flash[:alert] %></strong></div>
    <% end %>
    <% if flash[:notice] %>
      <div style="color:green"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
